html, body {
    background-image: url("../images/url/gravel.png");
    background-position: 100px;
    height: 100%;
    margin: 0;
}

/* .body {
    background-image: url("../assets/images/url/gravel.png");
    background-position: 100px;
} */


/*HEADER MANIPULATION*/
   header {
       width: 1920px;
       height: 84px;
       background-color: #4aaaa5;
       border-bottom: 5px solid #dddddd;
    }

/*ABOUT ME PARAGRAPH*/
    .para{
        font-family: Arial, Helvetica, sans-serif;
        margin: 3%;
        width: 94%;
        background-color: yellow 
    }

/* FOOTER MANIPULATION*/

    .page-content {
        min-height: 100%;
        /* negitive is the same measurement as the footer height*/
        margin-bottom: -50px;
    }
    
    .page-content::after{
        content:"";
        display: block;
    }
    
    footer, .page-content{
        text-align: center;
        height: 50px;
        background-color: #777777;
    }
    .footer h1{
        font-family: Arial, Helvetica, sans-serif;
        text-transform: lowercase;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
    }

/*PORTFOLIO LAYOUT*/

#portfolio{
    height: 946px;
    width: 946px;
    background-color: #4aaaa5;
    margin-left: 12%
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
    background-color: red;
    float: left;
    width: 40%;
    padding: 10px;
  }

  .column2 {
    background-color: blueviolet;
    float: left;
    width: 40%;
    padding: 10px;
  }

  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.container {
    position: relative;
}

.text-block{
    position: relative;
    width: 90px;
    bottom: 50px;
    background-color: teal;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

/* CONTACT PAGE LAYOUT*/

/* #contact{
    width: 946px;
    background-color: #4aaaa5;
    margin-left: 12% */


form{
    margin-top: 50px;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    color: black;
    font-size: 18px;
    margin-bottom: 16px; 
}

input{
    height: 45px;
}

form.submit{
    background: #4aaaa5;
    border-color: transparent;
    color: #4a4a4a;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

.form-submit{
    background-color: #4a4a4a;
    cursor: pointer;
}


/* h4{
    font-size: 10px;
    background-color: #4aaaa5;
    position: relative;
    display: inline;
     
    
}*/
/*
 .article{
    margin-left: 10px;
    padding-top: 30px;
}

.rpg{
    margin-left: 300px;
    padding-top: 30px;
}

.trivia{
    margin-left: 300px;
    padding-top: 30px;
}
.rutgers{
    margin-left: 300px;
    padding-top: 30px;
}

.rock{
    margin-left: 300px;
    padding-top: 30px;
} */












/**/
h5 {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        position: relative;
        background-color: azure;
        position: relative;
        display: inline;
        padding-right: 10px;
     }


/***NAVBAR SETUP***/

.navbar{
    margin-left: 800px;
    padding-top: 30px;
}
li{
    color: #777777;
    display: inline;
    font-family: "Arial";
    padding-right: 10px;
    padding-left: 10px;
    background-color: #fff;
    position: relative;
}

/*LINK MANIPULATION FOR NAVEBAR*/

a:link{
    text-decoration: none;
}

/*LINK MANIPULATION FOR NAVEBAR*/
a:visited{
    color: #777777;
    text-decoration: none;
    font-family: "Arial";
    font-size: 16px;
}

/*LINK MANIPULATION FOR NAVEBAR*/
a:hover {
    color: #777777;
    text-decoration: none;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
}

/*LINK MANIPULATION FOR NAVEBAR*/
a:active {
    color: #777777;
    text-decoration: none;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
}