/*top page*/

   header{
       width: 1355px;
       height: 84px;
       background-color: #4aaaa5;
       border-bottom: 2px solid #dddddd;
    }

/*layout*/



h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
    color: #777777;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #777777;
}


/***test for link style***/

.navbar{
    margin-left: 870px;
    padding-top: 30px;
}
li{
    color: #777777;
    display: inline;
    font-family: "Arial";
    font-size: 16;
    padding-right: 18px;
}

/*version link*/

a:link{
    text-decoration: none;
}

/*version link*/
a:visited{
    color: #777777;
    text-decoration: none;
    font-family: "Arial";
    font-size: 16px;
}

/*version mouse link*/
a:hover {
    color: #777777;
    text-decoration: none;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
}

/*version clicked link*/
a:active {
    color: #777777;
    text-decoration: none;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
}