.rotateimage90 {
    -webkit-transform: rotateimage(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
    }

*{
    box-sizing: border-box;
    text-align: center;
}

body{
    font-size: 24px;
    line-height: 32px;
    color: black;
}

    section {
        padding: 20px;
        margin-bottom: 20px;
        color: #FFA500
    }

    #top {
        float: center;
        width: 33.33%;
        color: rgba(229, 18, 236, 0.418);
        background: #FFA500
        
    }

    #left {
        float: left;
        width: 33.335%;
        color: rgba(128, 16, 255, 0.918);
        background: #FFA500;
        
    }

    #img0950 {
       float: left;
    }